.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .about h1 {
    color: var(--font-color);
  }
  
  .animatedSection > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animatedSection > div p {
    font-size: 20px;
    color: var(--font-color);
    width: 50%;
    text-align: justify;
  }
  
  @media (max-width: 780px) {
    .animatedSection > div p {
      font-size: 16px;
      width: 80%;
    }
  }