.home {
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-transparent); 
    z-index: 1; 
  }
  
  .home > * {
    position: relative;
    z-index: 2; 
  }

  .home h1 {
    text-align: center;
  }

  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent-container-color);
    border-radius: 40px;
    width: 30em;
    height: 22em;
  }

  .wave {
    display: inline-block;
    animation: wave-animation 2s infinite ease-in-out;
    font-size: 25px;
  }

  .typing {
    width: 0;
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid var(--font-color); 
    animation: typing 3s steps(20, end) forwards, blink 0.8s infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 85%; }
  }
  
  @keyframes blink {
    50% { border-color: transparent; }
  }

  @keyframes wave-animation {
      0% { transform: rotate(-10deg); }
      25% { transform: rotate(30deg); }
      50% { transform: rotate(-10deg); }
      75% { transform: rotate(30deg); }
      100% { transform: rotate(-10deg); }
  }

  .icon {
    font-size: 25px;
    color: white;
    transition: transform 0.2s ease-in-out, color 0.3s;
  }

  .medias {
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
  }

  .trace {
    background-color: var(--font-color);
    height: .15em;
    width: 2.5em;
  }

  .home h1, .home h2, .icon {
    color: var(--font-color);
  }

  .home h1, .home h2, .medias {
    margin-top: .4em;
    margin-bottom: .4em;
  }

  .home h2 {
    font-weight: 100;
    font-size: 20px;
  }

  .icon:hover {
      transform: scale(1.2);
      color: var(--hover);
  }

  @media (max-width: 780px) {
    .homeContainer {
      width: 70vw;
    }
  }

  @media (max-width: 690px) {
    .homeContainer {
      width: 80vw;
    }
  }

  @media (max-width: 600px) {
    .homeContainer {
      width: 95vw;
    }
  }

  @media (max-width: 500px) {
    .homeContainer h1 {
      font-size: 23px;
    }

    .homeContainer h2 {
      font-size: 17px;
    }

    .wave {
      font-size: 20px;
    }
  }