:root {
  --neon-color: #36ebbe;
  --primary-color: #040811;
  --primary-lighter: #070d1b;
  --secondary-color: #8c00ff;
  --white: #ffffff;
  --dark-gray: #202020;
  --gray: #bbbbbb;
  --red: rgb(255, 35, 64);
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 3rem;
}

nav {
  padding-right: 4rem;
}

.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  min-height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.intro-img img,
.intro-img svg {
  max-width: 100%;
  width: auto;
}

.intro-img {
  align-items: center;
}

.media-buttons {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 15rem;
  height: 5.5rem;
  padding-top: 1.5rem;
}

.media-buttons img {
  width: 4rem;
  padding-top: 0.5rem;
}

#linkedin {
  margin-right: 4rem;
  border: 0.2rem solid #1e43bd;
}

#github {
  border: 0.2rem solid #8c00ff;
}

#linkedin, #github {
  border-radius: 1rem;
  width: 5.5rem;
  height: 5.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
}

.grid-main-heading {
  margin-bottom: 1rem;
}

.grid-description {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid-counter;
}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 5rem;
  padding-bottom: 2rem;
}

.grid h3::before {
  counter-increment: grid-counter;
  content: counter(grid-counter);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -2rem;
  transform: rotate(5deg);
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--secondary-color);
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

.main-bg {
  background-size: cover;
  background-position: center center;
  color: var(--gray);
  background-color: var(--primary-color);
}

.lighter-bg {
  background: var(--primary-lighter);
  color: var(--white);
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 6.5rem;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.main-content {
  max-width: 120rem;
  margin: auto;
  padding: 10rem var(--gap);
}

.type-write {
  color: var(--neon-color);
  white-space: nowrap;
}

.type-write::after {
  content: '|';
  margin-left: 0.5rem;
  animation: blink .7s infinite;
  color: var(--gray);
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 800px) {
    
  .main-content {
    padding: 0;
  }

  .intro-text-content {
    text-align: center;
    align-items: center;
  }

  .intro-content {
    grid-template-columns: 1fr;
  }

  .grid-one-content {
    display: block;
  }

  .menu {
    bottom: 0;
    text-align: center;
    display: none;
  }

  .intro-img {
    display: none;
  }

  .intro-img img {
    display: none;
  }

  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }

  .menu h1 {
    padding-left: 0;
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2.8rem;
  }

  nav {
    padding-left: 4rem;
  }
}