:root {
  --neon-color: #01e4ab;
  --primary-color: #040811;
  --primary-lighter: #070d1b;
  --secondary-color: #8c00ff;
  --white: #f3f3f3;
  --dark-gray: #202020;
  --gray: #bbbbbb;
  --red: rgb(255, 35, 64);
  --pink: #eb4894;
  --blue: #0a142b;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
  background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: block;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: 60vh;
  padding: 6.5% 15%;
}

.intro-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  
}

.intro-text-content {
  width: 50%;
  margin: 5rem 0;
}

.intro-text-content h2 {
  font-size: 2.5rem;
}

.intro-img {
  width: 40%;
  margin: 2rem 0;
}

.intro-img img,
.intro-img svg {
  max-width: 80%;
}

.intro-img {
  width: 70%;
  margin: 2rem 0;
}

.media-buttons {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 15rem;
  height: 5.5rem;
  padding-top: 1.5rem;
}

.media-buttons img {
  width: 4rem;
  padding-top: 0.5rem;
}

#linkedin {
  margin-right: 4rem;
  border: 0.2rem solid #1e43bd;
}

#github {
  border: 0.2rem solid #8c00ff;
}

#linkedin, #github {
  border-radius: 1rem;
  width: 5.5rem;
  height: 5.5rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer {
  text-align: center;
  font-size: 1.6rem;
}

.footer a {
  color: var(--primary-color);
}

.heart {
  color: var(--red);
}

.footer p {
  margin: 0;
  padding: 3rem;
}

.close-menu {
  display: none;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--white);
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(-90deg);
  border: 0.1rem solid var(--primary-color);
}

.main-bg {
  background-size: cover;
  background-position: center center;
  color: var(--gray);
  background-color: var(--primary-color);
}

.lighter-bg {
  background: var(--primary-lighter);
  color: var(--white);
}

.white-bg {
  background: var(--white);
  color: black;
}

.section {
  min-height: 100vh;
}

.menu-spacing {
  height: 6.5rem;
}

body .full-width {
  width: 100%;
  flex: 1 1 100%;
}

.main-content {
  max-width: 120rem;
  margin: auto;
  padding: 10rem var(--gap);
}

.type-write {
  color: var(--neon-color);
  white-space: nowrap;
}

.type-write::after {
  content: '|';
  animation: blink .7s infinite;
  color: var(--gray);
}

::-webkit-scrollbar {
  width: 1.2rem;
  background-color: var(--dark-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--neon-color);
  border-radius: 1rem;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sobre-mim {
  padding: 6.5% 15%;
  min-height: 35vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.sobre-mim-img {
  min-width: 30%;
}

.sobre-mim-img img {
  border-left: 5px solid var(--neon-color);
  transition: 0.4s;
  width: 70%;
}

.sobre-mim-img img:hover {
  transform: scale(110%);
  border-left: 5px solid var(--secondary-color);
}

.sobre-mim-text {
  line-height: 2.2rem;
  width: 70%;
  display: block;
}

.sobre-mim-text h1{
  font-size: 2.5rem;
}

.sobre-mim-text h2 {
  text-transform: capitalize;
}

.sobre-mim-text h2, .sobre-mim-text p {
  font-size: 1.6rem;
  text-align: justify;
}

.sobre-mim-text p {
  font-weight: 200;
}

.sobre-mim-button {
  margin-top: 2rem;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.sobre-mim-button-email {
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 3px 5px 5px;
    justify-content: space-evenly;
    width: 140px;
    border: 0.2rem solid var(--pink);
    border-radius: 8px;
    position: relative;
    margin-top: 1rem;
    transition: 0.3s;
    font-weight: 600;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    height: 5rem;
}

.sobre-mim-button-email img {
  width: 2.2rem;
}

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="down"] {
  transform: translate3d(0, -5rem, 0);
}

[data-anime="right"] {
  transform: translate3d(-5rem, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-anime].active {
  animation: 0.5s forwards show-right;
}

.projetos {
  padding: 6.5% 15%;
  min-height: 35vh;
  z-index: 0;
  position: relative;
}

.projetos h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.projetos-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  margin-bottom: 5rem;
}

.projetos-card {
  width: 90%;
  align-items: center;
}

.projetos-card img {
  width: 100%;
}

.projetos-card h2 {
  margin: 1.5rem 0;
}

.projetos-card p {
  font-size: 1.8rem;
}

.projetos-card span {
  color: var(--neon-color);
  font-size: 1.4rem;
  display: block;
  margin: 2.5rem 0;
}

.projetos-card-button {
  border: 0.2rem solid var(--neon-color);
  border-radius: 0.8rem;
  color: var(--white);
  display: flex;
  align-items: center;
  padding: 0.3rem 0.5rem 0.5rem;
  justify-content: space-evenly;
  width: 14rem;
  position: relative;
  margin-top: 1.5rem;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  height: 4.5rem;
}

.projetos-card-button:hover {
  background-color: var(--dark-gray);
  border: 0.2rem solid var(--secondary-color);
}

.projetos-card-button img {
  width: 18px;
}

.projeto-img {
  border-left: 0.6rem solid var(--neon-color);
  width: 100%;
  transition: 0.5s;
}

.projeto-img:hover {
  transform: scale(110%);
  border-left: 0.6rem solid var(--secondary-color);
}

.formacao {
  padding: 6.5% 15%;
  min-height: 35vh;
}

.formacao h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.formacao-wrapper {
  display: flex;
}

.formacao-list {
  width: 22rem;
  cursor: pointer;
}

.formacao-list ul {
  list-style: none;
  font-size: 1.5rem;
  padding: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.formacao-list ul li {
  padding: 1rem;
  text-align: center;
  border-left: 2px solid var(--dark-gray);
  transition: background-color 0.7s ease;
}

.formacao-list ul li.active {
  border-left: 2px solid var(--neon-color);
  font-weight: 600;
}

.formacao-list ul li:hover {
  background-color: var(--blue);
}

.formacao-desc {
  width: 60%;
  margin-left: 5rem;
  position: relative;
  line-height: 1.8rem;
  font-size: 1.6rem;
}

.formacao-desc section {
  display: none;
}

.formacao-desc section.active {
  display: block;
}

.formacao-desc h2 {
  padding: 0;
}

.formacao-desc p {
  margin: 3rem 0;
}

.formacao-desc-local {
  color: var(--neon-color);
}

@media (max-width: 880px) {

  .sobre-mim {
    align-items: center;
    gap: 2rem;
    padding: 12%;
    text-align: center;
    flex-direction: column;
    z-index: 0;
    position: relative;
  }

  .sobre-mim-img {
    justify-content: center;
  }

  .sobre-mim-img img {
    width: 26rem;
  }

  .sobre-mim-text {
    padding-top: 0;
    width: 80%;
  }

  .sobre-mim-text h1, .sobre-mim-text h2 {
    text-align: center;
  }
    
  .main-content {
    padding: 0;
  }

  .intro-text-content {
    text-align: center;
    align-items: center;
  }

  .intro-content {
    grid-template-columns: 1fr;
  }

  .menu {
    bottom: 0;
    text-align: center;
    display: none;
  }

  .intro-img {
    display: none;
  }

  .menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing {
    display: none;
  }

  .menu h1 {
    padding-left: 0;
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2.8rem;
  }

}