/* Estilos para a barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Estilos para o título */
  .navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estilos para a lista de links */
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  /* Estilos para os itens da lista */
  .navbar ul li {
    margin-left: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  /* Efeito de hover nos links */
  .navbar ul li:hover {
    color: #ffbb52; /* Cor de destaque ao passar o mouse */
  }
  
  /* Estilo específico para o container do LightDark */
  .navbar ul li:last-child {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }