/* Estilos para a barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background-color);
    color: white; 
    height: var(--nav-height);
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
  
  /* Estilos para o título */
  .navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estilos para a lista de links */
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-right: 2rem;
  }
  
  /* Estilos para os itens da lista */
  .navbar ul li {
    margin-right: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  /* Efeito de hover nos links */
  .navbar ul li:hover {
    color: #ffbb52; /* Cor de destaque ao passar o mouse */
  }
  
  .navbar ul li:last-child {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }