.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects img {
  width: calc(100% - 5px);
  border-left: 5px solid var(--button-hover-border-color);
  transition: transform 0.3s ease-in-out;
}

.soon img {
  opacity: 0;
}

.soon {
  background-color: var(--background-color-dark-transparent);
  border-left: 5px solid var(--button-hover-border-color);
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.soon:hover {
  transform: scale(1.1);
}

.soon h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--font-color);
}

.projectCard span {
  color: var(--span-color);
}

.projects img:hover {
  transform: scale(1.1);
}

h1, h2, p {
  color: var(--font-color);
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectCard h1, .projectCard h2, .projectCard p {
  margin: 0;
}

.animatedSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animatedSection > div {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 28em 28em;
    width: 80%;
    gap: 5em;
  }

  .linkButton {
    border: 2px solid var(--font-color);
    color: var(--font-color);
    border-radius: 10px;
    width: 9em;
    height: 2.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, color 0.3s;
  }

  .linkButton:hover {
    border: 2px solid var(--button-hover-border-color);
    transform: scale(1.1);
    background-color: var(--font-color);
    color: var(--button-hover-color);
  }

  .linkButton:hover p {
    transform: scale(1.1);
    color: var(--button-hover-color);
  }

  @media (max-width: 780px) {
    .animatedSection > div {
      grid-template-columns: 100%;
      grid-template-rows: 31em 31em 31em 31em;
      gap: 2em;
    }
  }

  @media (max-width: 620px) {
    .animatedSection > div {
      grid-template-rows: 28em 28em 28em 28em;
    }

    .linkButton {
      width: 8em;
      height: 2em;
    }

    .linkButton a {
      font-size: 14px;
    }

    .projectCard h2 {
      font-size: 21px;
    }

    .projectCard p, .projectCard span {
      font-size: 14px;
    }
  }

  @media (max-width: 500px) {
    .animatedSection > div {
      grid-template-rows: 25em 25em 25em 25em;
      gap: 2em;
      width: 90%;
    }
  }