.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills h1 {
  text-align: center;
  color: var(--font-color);
  word-break: break-word;
  padding-inline: 30px;
}

.animatedSection > div {
  display: flex;
  justify-content: center;
}

.skillContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 70% 70%;
  justify-content: center;
  width: 80%;
  align-self: center;
  }

  .skillContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skillContainer div div:hover {
    transform: scale(1.2);
    color: var(--hover);
  }

  .skillContainer div div:hover p,
.skillContainer div div:hover .skillIcons {
  color: var(--hover); 
}

.skillContainer div div p {
  transition: transform 0.2s ease-in-out, color 0.3s;
}

  .skillContainer div div {
    background-color: var(--background-color-dark-transparent);
    border-bottom: 3px solid var(--hover);
    border-top-left-radius: 30px;
    height: 10em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, color 0.3s;
  }

  .skillContainer p {
    color: var(--font-color);
    margin: 0;
    margin-top: 10px;
  }
  
  .skillIcons {
        font-size: 50px;
        color: var(--font-color);
    }

    @media (max-width: 880px) {
      .skillContainer {
        width: 90%;
        }
    }

    @media (max-width: 780px) {
      .skillContainer {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 33.3% 33.3% 33.3%;
        width: 80%;
        }

        .skillContainer div div {
          margin-bottom: 10%;
        }
    }

    @media (max-width: 670px) {
      .skillContainer {
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        width: 80%;
        }

        .skillContainer div div {
          margin-bottom: 20%;
        }
    }

    @media (max-width: 500px) {
      .skillContainer {
        width: 100%;
        }

        .skillContainer div div {
          margin-bottom: 10%;
          width: 8em;
          height: 8em;
        }

        .skillContainer div div p {
          font-size: 13px;
        }

        .skillIcons {
          font-size: 45px;
      }
    }